doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title component ${name}
    //export
    link(rel='stylesheet', href='../../html-component/bin/html-component.css', exclude)
    link(rel='stylesheet', href='./${name}.css')
    ///export
  body
    //export
    .${name}
      - var assets = 'component-assets'
      .grid
        .grid-cell
          | ${yield}

    script(src='../../../build/js/_bundle.js', exclude)
    script(src='../../html-component/bin/html-component.js', exclude)
    script(src='../../html-component/bin/html-component-debug.js', exclude)
    script(src='./${name}.js')
    script(src='./test.js', exclude)
    ///export
